.footer {
  background-color: #7dcc92;
  width: 100% !important;
  padding-top: 45px;
  padding-bottom: 45px;
}

.footer-list {
  list-style: none;
  align-items: left;
}

.footer-list-item {
  text-align: left;
  font-size: 16px;
  line-height: 25px;
}

.footer-list-item a {
  color: #ffffff !important;
}
