.right-part {
  padding-left: 0px;
  text-align: left;
  color: #7dcc92;
  margin: 0;
  padding-top: 60px;
  margin-bottom: 60px;
}

.right-part-top {
  background-color: #f7fdf9;
}

.right-part h1 {
  font-size: 40px;
  font-weight: bold;
}

.right-part h5 {
  color: #3e433f;
  font-size: 27px;
}

.right-part p {
  color: #6c736d;
  font-size: 14px;
}

.right-part-title {
  margin-bottom: 60px;
}

.card-container {
  margin-bottom: 20px;
}
